/* Layout de fundo da página */
html, body {
    height: 100%;
    overflow-x: hidden;
}

#home {
    height: 100%;
}


body {
    background: url(../imagens/capa.png), no-repeat
     url(../imagens/ruido.png),
     linear-gradient(65deg, #199c47, #1a1414);
     background-attachment:fixed;
     font-family: Helvetica, Arial, Helvetica, sans-serif;
}

/* Barra de navegação */

.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.4);
}

.navbar-light .navbar-nav .nav-link {
    color:white
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #1ed760;
    border-color: rgba(255,255,255,0.5);
} 

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.navbar-toggler-icon {
    filter: invert(1);
  }

.capa {
    text-align: center;
}
/*tipografia */

h1 {
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

.btn-custom {
    background: #15a046;
    border-radius: 50px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    padding: 15px 60px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #1a1414;
    box-shadow: 0px 4px 15px rgba(30,215,96,0.6);
}

.btn-custom:hover {
    background: #f5f2f2;
    border-radius: 50px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    padding: 15px 60px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #1a1414;
    box-shadow: 0px 4px 15px rgba(30,215,96,0.6);
}

.btn-black {
    background: #1a1414;
    border-radius: 50px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    padding: 15px 60px;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.6);
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

/* Estrutura de contepudos */
/* Estrutura conteúdos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#servicos {
	background: white;
}

#recursos {
	color: white;
}

#servicos h2, h3 {
	color: #1ed760;
}

#recursos h2 {
	color: white;
}

#recursos h3 {
	color: #1ed760;
}

.albuns {
	padding: 10px 0;
}

.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

/* Rodapé */

footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;

}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #199c47;
    text-decoration: none;
}

footer ul {
    list-style:none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}


/* breakpoints padrão bootstrap 5 */

@media (max-width: 575.98px) { 
    h1 {
        font-size: 2rem;
    }
    .btn-custom {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media (min-width: 576px) { 
    h1 {
        font-size: 3rem;
    }
    .btn-custom {
        padding: 15px 40px;
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) { 
    h1 {
        font-size: 4rem;
    }
    .btn-custom {
        padding: 15px 50px;
        font-size: 1.15rem;
    }
}


@media (min-width: 992px) { 
    h1 {
        font-size: 5rem;
    }
    .btn-custom {
        padding: 15px 60px;
        font-size: 1.2rem;
    }
}


@media (min-width: 1200px) { 
    h1 {
        font-size: 6rem;
    }
    .btn-custom {
        padding: 15px 70px;
        font-size: 1.25rem;
    }
}


@media (min-width: 1400px) { 
    h1 {
        font-size: 7rem;
    }
    .btn-custom {
        padding: 15px 80px;
        font-size: 1.3rem;
    }   
}
